[Unit]
Description=Shortix is a script that creates human readable symlinks for Proton prefixes on the Steam Deck, it will restart every 30 Minutes
StandardOutput=console

[Service]
Type=simple
Restart=always
RestartSec=3600s
ExecStart=/usr/bin/shortix

[Install]
WantedBy=default.target
